<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/back">Home</a>
    <a href="/logout">Logout</a>
    <a href="/add_review">Add Book and review</a>
    <p>User Alias: {{user1.alias}}</p>
    <p>Name: {{user1.name}}</p>
    <p>Email: {{user1.email}}</p>
    <p>Total Reviews: {{reviews.count}}</p>
    <p>Posted Reviews on the following books</p>
    {% for book in books %}
        <p>{{book.title}}</p>
    {% endfor %}
</body>
</html>